@using Silvester.Pathfinder.Official.Web.Shared.Tables
@using Silvester.Pathfinder.Official.Web.Graphql

<div>
    <GraphqlTable RowsPerPage="25" GetPage="@GetPage" TSortInput="LanguageSortInput" TEntity="ILanguagesPage">
        <Columns>
            <MudTh><MudTableSortLabel SortLabel="@nameof(ILanguagesPage.Name)" T="ILanguagesPage">Name</MudTableSortLabel></MudTh>
            <MudTh></MudTh>
        </Columns>
        <Rows>
            <MudTdEllipsized DataLabel="@(nameof(ILanguagesPage.Name))" Text="@context.Name" />
            <MudTh>
                <MudTooltip Text="Inspect">
                    <MudIconButton Size="Size.Small" OnClick="@(() => OnInspectClicked(context))" Icon="@Icons.Material.Outlined.ArrowForward"></MudIconButton>
                </MudTooltip>
            </MudTh>
        </Rows>
    </GraphqlTable>
</div>

@code {
    [Inject]
    public PathfinderOfficialApi PathfinderOfficialApi { get; set; } = default!;

    [Inject]
    public NavigationManager NavigationManager { get; set; } = default!;

    public void OnInspectClicked(ILanguagesPage language)
    {
        NavigationManager.NavigateTo($"languages/{language.Id}");
    }

    public async Task<TableData<ILanguagesPage>> GetPage(LanguageSortInput[] sortInputs, TableState state, string searchTerm)
    {
        IOperationResult<IGetLanguagesPageResult> result = await PathfinderOfficialApi.GetLanguagesPage
            .ExecuteAsync(state.Page * state.PageSize, state.PageSize, searchTerm, sortInputs);

        TableData<ILanguagesPage> page = new TableData<ILanguagesPage>()
        {
            TotalItems = result.Data!.Languages!.TotalCount,
            Items = result.Data!.Languages!.Items!
        };

        return page;
    }
}