@using Silvester.Pathfinder.Official.Web.Shared.Tables
@using Silvester.Pathfinder.Official.Web.Graphql

<div>
    <GraphqlTable Title="Languages" RowsPerPage="25" GetPage="@GetPage" TSortInput="LanguageSortInput" TEntity="IGetLanguagesPage_Languages_Items">
        <Columns>
            <MudTh><MudTableSortLabel SortLabel="@nameof(IGetLanguagesPage_Languages_Items.Name)" T="IGetLanguagesPage_Languages_Items">Name</MudTableSortLabel></MudTh>
            <MudTh></MudTh>
        </Columns>
        <Rows>
            <MudTdEllipsized DataLabel="@nameof(IGetLanguagesPage_Languages_Items.Name)" Text="@context.Name" />
            <MudTh>
                <MudTooltip Text="Inspect">
                    <MudIconButton Size="Size.Small" OnClick="@(() => OnInspectClicked(context))" Icon="@Icons.Material.Outlined.ArrowForward"></MudIconButton>
                </MudTooltip>
            </MudTh>
        </Rows>
    </GraphqlTable>
</div>

@code {
    [Inject]
    public PathfinderOfficialApi PathfinderOfficialApi { get; set; } = default!;

    [Inject]
    public NavigationManager NavigationManager { get; set; } = default!;

    public void OnInspectClicked(IGetLanguagesPage_Languages_Items language)
    {
        NavigationManager.NavigateTo($"languages/{language.Id}");
    }

    public async Task<TableData<IGetLanguagesPage_Languages_Items>> GetPage(LanguageSortInput[] sortInputs, TableState state, string searchTerm)
    {
        IOperationResult<IGetLanguagesPageResult> result = await PathfinderOfficialApi.GetLanguagesPage
            .ExecuteAsync(state.Page * state.PageSize, state.PageSize, searchTerm, sortInputs);

        TableData<IGetLanguagesPage_Languages_Items> page = new TableData<IGetLanguagesPage_Languages_Items>()
        {
            TotalItems = result.Data!.Languages!.TotalCount,
            Items = result.Data!.Languages!.Items!
        };

        return page;
    }
}