@using Silvester.Pathfinder.Official.Web.Shared.Cards;
@using Silvester.Pathfinder.Official.Web.Shared.Preferences;

<div>
    <CardToolbar Style="padding-right: 10px;">
        <MudText Typo="@Typo.h6">@MagicComponent.Name</MudText>
        <MudToolBarSpacer />
        <MudTooltip Text="Inspect">
            <MudIconButton Size="Size.Medium" OnClick="@(() => OnInspectClick())" Icon="@Icons.Material.Outlined.ArrowForward"></MudIconButton>
        </MudTooltip>
    </CardToolbar>
    <MudDivider />
    <PreferenceCategory Title="Description">
        <PreferenceItemText Text="@MagicComponent.Description" />
    </PreferenceCategory>
</div>

@code {
    [Parameter]
    public IMagicComponent MagicComponent { get; set; } = default!;

    [Inject]
    public NavigationManager NavigationManager { get; set; } = default!;

    public void OnInspectClick()
    {
        NavigationManager.NavigateTo($"magic-components/{MagicComponent.Id}");
    }
}
