<div>

    @foreach (ITextBlock block in TextBlocks.OrderBy(e => e.Order))
    {
        @switch (block.Type)
        {
            case TextBlockType.Heading:
                <div class="wrapper preference-item">
                    <p style="font-weight: bold">@block.Text</p>
                </div>
                break;

            case TextBlockType.Text:
                <div class="wrapper preference-item">
                    <p>@block.Text</p>
                </div>
                break;

            case TextBlockType.Enumeration:
                <div class="wrapper preference-item">
                    <p style="margin-left: 10px">- @block.Text</p>
                </div>
                break;

            case TextBlockType.Footnote:
                <div class="wrapper preference-item">
                    <p style="font-style: italic; font-size: 8px">* @block.Text</p>
                </div>
                break;

            case TextBlockType.Example:
                <div class="wrapper preference-item">
                    <p style="display: flex; justify-self: center;">@block.Text</p>
                </div>
                break;
            }
        }

</div>


@code {
    [Parameter]
    public IEnumerable<ITextBlock> TextBlocks { get; set; } = default!;
}