@using Silvester.Pathfinder.Reference.Web.Shared.Preferences;
@using Silvester.Pathfinder.Reference.Web.Services;
@using Silvester.Pathfinder.Reference.Web.Shared.Loading;
@using Silvester.Pathfinder.Reference.Web.Shared.Cards.Builder;
@using Silvester.Pathfinder.Reference.Web.Shared.Chips;
@using Silvester.Pathfinder.Reference.Web.Components.Cards.Details.Instances;

@typeparam TEntity

<ComponentDetailsCard 
    HasRightContent="@(Model?.CategoriesRight.Any(e => e.Preferences.Any(p => p.HasContent())) ?? false)"
    HasToolbar="@(string.IsNullOrWhiteSpace(Model?.Title) == false || (Model?.IsSharable ?? false))"
    TEntity="TEntity"
    Entity="@Entity" 
    Shareable="@(Model?.IsSharable ?? false)">

    <Title>
        @if(Model != null)
        {
            <MudText Typo="Typo.h6">@Model.Title</MudText>
        }
    </Title>
    <Actions>
    </Actions>
    <LeftContent>
        @if(Model != null)
        {
            @foreach (var category in Model.CategoriesLeft)
            {
                <PreferenceCategoryModelAdapter Category="@category" />
            }
        }
    </LeftContent>
    <RightContent>
        @if(Model != null)
        {
            @foreach (var category in Model.CategoriesRight)
            {
                <PreferenceCategoryModelAdapter Category="@category" />
            }
        }
    </RightContent>
</ComponentDetailsCard>

@code
{
    [Parameter]
    public DetailsCardModel? Model { get; set; } = default!;

    [Parameter]
    public TEntity? Entity { get; set; } = default!;
}