@using Silvester.Pathfinder.Reference.Web.Shared.Layout;
@using Silvester.Pathfinder.Reference.Web.Components.Tables.Instances.Armors;
@using Silvester.Pathfinder.Reference.Web.Components.Tables.Instances.Armors.Providers;
@using Silvester.Pathfinder.Reference.Web.Components.Cards;
@using Silvester.Pathfinder.Reference.Web.Components.Cards.Details.Instances;
@using Silvester.Pathfinder.Reference.Documents.Models; 
@using System.Text.Json; 

<div>
    @if (Document != null)
    {
        <MudPaper Class="wrapper">
            <MudText Typo="Typo.h4">@Title</MudText>
            <div class="divider" />
            <MudGrid Spacing="0">
                <MudItem xs="6" Class="metadata">
                    <MudText Typo="Typo.body2" class="title">Date of Creation:</MudText>
                    <MudText Typo="Typo.body2" class="title">Last Modification Date:</MudText>
                    <MudText Typo="Typo.body2" class="title">Version:</MudText>
                </MudItem>
                <MudItem xs="6">
                    <MudText Typo="Typo.body2" class="value">@Document.CreationDate.ToString("yyyy/MM/dd")</MudText>
                    <MudText Typo="Typo.body2" class="value">@Document.LastModificationDate.ToString("yyyy/MM/dd")</MudText>
                    <MudText Typo="Typo.body2" class="value">@Document.Version</MudText>
                </MudItem>
            </MudGrid>
            <div class="divider" />
            @{
                int count = 0;
                foreach (Section section in Document.Sections)
                {
                    count += 1;
                    <MudText Typo="Typo.h6">@($"{count}. {section.Title}")</MudText>
                    @foreach (SubSection subSection in section.SubSections)
                    {
                        @if (string.IsNullOrWhiteSpace(subSection.Title) == false)
                        {
                            <MudText Typo="Typo.h6">@subSection.Title</MudText>
                        }
                        @foreach (string paragraph in subSection.Paragraphs)
                        {
                            <div class="text-wrapper">
                                <MudText Typo="Typo.body2" class="text">@paragraph</MudText>
                            </div>
                        }
                    }
                }
            }
        </MudPaper>
    }
</div>

@code {

    [Parameter]
    public string Title { get; set; } = default!;

    [Parameter]
    public Document? Document { get; set; } = default!;
}