@using Silvester.Pathfinder.Reference.Web.Shared.Cards;
@using Silvester.Pathfinder.Reference.Web.Shared.Preferences;

<div>
    <CardToolbar>
        <MudText Typo="@Typo.h6">@MagicTradition.Name</MudText> <MudToolBarSpacer />
        @if (Inspectable)
        {
            <MudToolBarSpacer />
            <MudTooltip Text="Inspect">
                <MudIconButton Size="Size.Medium" OnClick="@(() => OnInspectClick())" Icon="@Icons.Material.Outlined.ArrowForward"></MudIconButton>
            </MudTooltip>
        }
    </CardToolbar>
    <MudDivider />
    <PreferenceCategory Title="Description">
        <PreferenceItemText Text="@MagicTradition.Description" />
    </PreferenceCategory>
</div>


@code {
    [Parameter]
    public IMagicTradition MagicTradition { get; set; } = default!;

    [Parameter]
    public bool Inspectable { get; set; } = false;

    [Inject]
    public NavigationManager NavigationManager { get; set; } = default!;

    public void OnInspectClick()
    {
        NavigationManager.NavigateTo($"magic-traditions/{MagicTradition.Id}");
    }
}
