@using Silvester.Pathfinder.Official.Web.Shared.Preferences;
@using Silvester.Pathfinder.Official.Web.Shared.Cards;
@using Silvester.Pathfinder.Official.Web.Shared.Tables;
@using Silvester.Pathfinder.Official.Web.Services;
@using Silvester.Pathfinder.Official.Web.Shared.Chips;
@using Silvester.Pathfinder.Official.Web.Components.Footers;
@using Silvester.Pathfinder.Official.Web.Shared.Footers;

@if (AlchemicalBomb != null)
{
    <ComponentDetailsCard TEntity="IAlchemicalBombById" Entity="@AlchemicalBomb">
        <Title>
            <MudText Typo="Typo.h6">@context.Name</MudText>
        </Title>
        <LeftContent>
            <PreferenceCategory Title="Traits">
                <PreferenceItemChips>
                    <Chips>
                        @foreach (IAlchemicalBombById_Trait trait in @context.Traits)
                        {
                            <TraitChip OnClick="@(() => OnTraitClick(trait))" Text="@trait.Name" />
                        }
                    </Chips>
                </PreferenceItemChips>
            </PreferenceCategory>

            <PreferenceCategory Title="Characteristics">
                <PreferenceItemText Title="Action" Text="@context.Action.Name" Icon="@ActionTypeService.GetActionTypeIcon(context.Action.ActionType.Name)" />
                <MudDivider />
                <PreferenceItemText Title="Usage" Text="@context.Usage" />
                <MudDivider />
                <PreferenceItemText Title="Item Bonus" Text="@("Item +" + @context.ItemBonus)" />
            </PreferenceCategory>
            <MudDivider />
            <PreferenceCategory>
                <PreferenceItemFooter Items="@(GetFooterItems())" />
            </PreferenceCategory>
        </LeftContent>
        <RightContent>
            <PreferenceCategory Title="Description">
                <PreferenceItemTextBlocks TextBlocks="@context.Details" />
            </PreferenceCategory>
        </RightContent>
    </ComponentDetailsCard>
}

@code {
    [Parameter]
    public IAlchemicalBombById AlchemicalBomb { get; set; } = default!;

    [Inject]
    public NavigationManager NavigationManager { get; set; } = default!;

    [Inject]
    public IActionTypeService ActionTypeService { get; set; } = default!;

    public void OnTraitClick(IAlchemicalBombById_Trait trait)
    {
        NavigationManager.NavigateTo($"traits/{trait.Id}");
    }

    public IEnumerable<IconFooterBar.Item> GetFooterItems()
    {
        foreach (IconFooterBar.Item item in new SourceFooterBarItems(AlchemicalBomb.SourcePage))
        {
            yield return item;
        }

        yield return new IconFooterBar.Item((MarkupString)Silvester.Pathfinder.Official.Icons.Generated.Weight, AlchemicalBomb.Bulk.Name, "Bulk");
    }
}