@using Silvester.Pathfinder.Official.Web.Shared.Preferences;
@using Silvester.Pathfinder.Official.Web.Shared.Cards;
@using Silvester.Pathfinder.Official.Web.Shared.Tables;
@using Silvester.Pathfinder.Official.Web.Services;
@using Silvester.Pathfinder.Official.Web.Shared.Chips;
@using Silvester.Pathfinder.Official.Web.Shared.Footers;
@using Silvester.Pathfinder.Official.Web.Components.Footers;

@if (Curse != null)
{
    <ComponentDetailsCard TEntity="ICurseById" Entity="@Curse">
        <Title>
            <MudText Typo="Typo.h6">Curse</MudText>
        </Title>
        <Actions>
        </Actions>
        <LeftContent>
            <PreferenceCategory Title="Details">
                <PreferenceItemChips>
                    <Chips>
                        @foreach (ICurseById_Trait trait in @context.Traits)
                        {
                            <TraitChip OnClick="@(() => OnTraitClick(trait))" Text="@trait.Name" />
                        }
                    </Chips>
                </PreferenceItemChips>
                <PreferenceItemChips Title="Saving Throw Stat">
                    <Chips>
                        <TraitChip Text="@context.SavingThrowStat.Name" OnClick="@(() => OnSavingThrowStatClick())" />
                    </Chips>
                </PreferenceItemChips>
                <PreferenceItemText Title="Name" Text="@context.Name" />
                <PreferenceItemText Title="Effect" Text="@context.Effect" />
            </PreferenceCategory>
            <MudDivider />
            <PreferenceCategory>
                <PreferenceItemFooter Items="@(GetFooterItems())" />
            </PreferenceCategory>
        </LeftContent>
        <RightContent>
            <PreferenceCategory Title="Description">
                <PreferenceItemTextBlocks TextBlocks="@context.Details" />
            </PreferenceCategory>
        </RightContent>
    </ComponentDetailsCard>
}

@code {
    [Parameter]
    public ICurseById Curse { get; set; } = default!;

    [Inject]
    public NavigationManager NavigationManager { get; set; } = default!;

    public void OnTraitClick(ICurseById_Trait trait)
    {
        NavigationManager.NavigateTo($"traits/{trait.Id}");
    }

    public void OnSavingThrowStatClick()
    {
        NavigationManager.NavigateTo($"saving-throw-stats/{Curse.SavingThrowStat.Id}");
    }

    public IEnumerable<IconFooterBar.Item> GetFooterItems()
    {
        foreach (IconFooterBar.Item item in new SourceFooterBarItems(Curse.SourcePage))
        {
            yield return item;
        }

        if(Curse.Level.HasValue)
        {
            yield return new IconFooterBar.Item((MarkupString)Silvester.Pathfinder.Official.Icons.Generated.Slider, Curse.Level!.ToString(), "Level");
        }

        yield return new IconFooterBar.Item((MarkupString)Silvester.Pathfinder.Official.Icons.Generated.Check, Curse.DifficultyCheck.ToString(), "Difficulty Check");
    }
}