@using Silvester.Pathfinder.Official.Web.Shared.Preferences;
@using Silvester.Pathfinder.Official.Web.Shared.Cards;
@using Silvester.Pathfinder.Official.Web.Shared.Tables;
@using Silvester.Pathfinder.Official.Web.Services;
@using Silvester.Pathfinder.Official.Web.Shared.Chips;
@using Silvester.Pathfinder.Official.Web.Shared.Footers;
@using Silvester.Pathfinder.Official.Web.Components.Footers;

@if (ItemCurse != null)
{
    <ComponentDetailsCard TEntity="IItemCurseById" Entity="@ItemCurse">
        <Title>
            <MudText Typo="Typo.h6">ItemCurse</MudText>
        </Title>
        <Actions>
        </Actions>
        <LeftContent>
            <PreferenceCategory Title="Details">
                <PreferenceItemText Title="Name" Text="@context.Name" />
                <PreferenceItemText Title="Usage" Text="@context.Usage" />
            </PreferenceCategory>
            <PreferenceCategory Title="Traits">
                <PreferenceItemChips>
                    <Chips>
                        @foreach (IItemCurseById_Trait trait in @context.Traits)
                        {
                            <TraitChip OnClick="@(() => OnTraitClick(trait))" Text="@trait.Name" />
                        }
                    </Chips>
                </PreferenceItemChips>
            </PreferenceCategory>
            <MudDivider />
            <PreferenceCategory>
                <PreferenceItemFooter Items="@(GetFooterItems())" />
            </PreferenceCategory>
        </LeftContent>
        <RightContent>
            <PreferenceCategory Title="Description">
                <PreferenceItemTextBlocks TextBlocks="@context.Details" />
            </PreferenceCategory>
        </RightContent>
    </ComponentDetailsCard>
}

@code {
    [Parameter]
    public IItemCurseById ItemCurse { get; set; } = default!;

    [Inject]
    public NavigationManager NavigationManager { get; set; } = default!;

    public void OnTraitClick(IItemCurseById_Trait trait)
    {
        NavigationManager.NavigateTo($"traits/{trait.Id}");
    }

    public IEnumerable<IconFooterBar.Item> GetFooterItems()
    {
        foreach (IconFooterBar.Item item in new SourceFooterBarItems(ItemCurse.SourcePage))
        {
            yield return item;
        }

        yield return new IconFooterBar.Item((MarkupString)Silvester.Pathfinder.Official.Icons.Generated.Slider, ItemCurse.Level!.ToString(), "Level");
    }
}