@using Silvester.Pathfinder.Official.Web.Shared.Tables
@using Silvester.Pathfinder.Official.Web.Graphql
@using Silvester.Pathfinder.Official.Web.Shared.Layout;

<div>
    <GraphqlTable Title="Traits" RowsPerPage="25" GetPage="@GetPage" TSortInput="TraitSortInput" TEntity="ITraitsPage">
        <Columns>
            <MudTh><MudTableSortLabel SortLabel="@nameof(ITraitsPage.Name)" T="ITraitsPage">Name</MudTableSortLabel></MudTh>
            <MudTh>Description</MudTh>
            <MudTh></MudTh>
        </Columns>
        <Rows>
            <MudTd DataLabel="@nameof(ITraitsPage.Name)" Style="font-weight: 500;">@context.Name</MudTd>
            <MudTdEllipsized DataLabel="@nameof(ITraitsPage.Description)" Text="@(context.Description)" />
            <MudTh>
                <MudTooltip Text="Inspect">
                    <MudIconButton Size="Size.Small" OnClick="@(() => OnInspectClicked(context))" Icon="@Icons.Material.Outlined.ArrowForward"></MudIconButton>
                </MudTooltip>
            </MudTh>
        </Rows>
    </GraphqlTable>
</div>

@code {
    [Inject]
    public PathfinderOfficialApi PathfinderOfficialApi { get; set; } = default!;

    [Inject]
    public NavigationManager NavigationManager { get; set; } = default!;

    public void OnInspectClicked(ITraitsPage trait)
    {
        NavigationManager.NavigateTo($"traits/{trait.Id}");
    }

    public async Task<TableData<ITraitsPage>> GetPage(TraitSortInput[] sortInputs, TableState state, string searchTerm)
    {
        IOperationResult<IGetTraitsPageResult> result = await PathfinderOfficialApi.GetTraitsPage
            .ExecuteAsync(state.Page * state.PageSize, state.PageSize, searchTerm, sortInputs);

        TableData<ITraitsPage> page = new TableData<ITraitsPage>()
        {
            TotalItems = result.Data!.Traits!.TotalCount,
            Items = result.Data!.Traits!.Items!
        };

        return page;
    }
}