@using Silvester.Pathfinder.Official.Web.Pages.Overviews
@using Silvester.Pathfinder.Official.Web.Shared.Tables
@using Silvester.Pathfinder.Official.Web.Mocked
@using Silvester.Pathfinder.Official.Web.Graphql 

@page "/feats"
@inherits BaseOverviewPage

<div>
    <GraphqlTable Title="Feats" RowsPerPage="25" GetPage="@GetPage">
        <Columns>
            <MudTh><MudTableSortLabel SortLabel="@nameof(IFeatsPage.Name)" T="IFeatsPage">Name</MudTableSortLabel></MudTh>
            <MudTh><MudTableSortLabel SortLabel="@nameof(IFeatsPage.Level)" T="IFeatsPage">Level</MudTableSortLabel></MudTh>
            <MudTh><MudTableSortLabel SortLabel="@nameof(IFeatsPage.CanBeLearnedMoreThanOnce)" T="IFeatsPage">Relearnable</MudTableSortLabel></MudTh>
            <MudTh>Description</MudTh>
            <MudTh></MudTh>
        </Columns>
        <Rows>
            <MudTd DataLabel="@nameof(IFeatsPage.Name)" Style="font-weight: 500;">@context.Name</MudTd>
            <MudTd DataLabel="@nameof(IFeatsPage.Level)">@context.Level</MudTd>
            <MudTd DataLabel="@nameof(IFeatsPage.CanBeLearnedMoreThanOnce)">@context.CanBeLearnedMoreThanOnce</MudTd>
            <MudTdEllipsized DataLabel="@nameof(IFeatsPage.Details)" Text="@(string.Join(Environment.NewLine, context.Details.Select(e => e.Text)))"/>
            <MudTh>
                <MudTooltip Text="Inspect">
                    <MudIconButton Size="Size.Small" OnClick="@(() => OnInspectClicked(context))" Icon="@Icons.Material.Outlined.ArrowForward"></MudIconButton>
                </MudTooltip>
            </MudTh>
        </Rows>
    </GraphqlTable>
</div>