@using Silvester.Pathfinder.Reference.Web.Shared.Layout;
@using Silvester.Pathfinder.Reference.Web.Components.Tables.Instances.Heritages;
@using Silvester.Pathfinder.Reference.Web.Components.Tables.Instances.Heritages.Providers;
@using Silvester.Pathfinder.Reference.Web.Components.Cards;
@using Silvester.Pathfinder.Reference.Web.Components.Cards.Details.Instances;
@using Silvester.Pathfinder.Reference.Web.Shared.Cards;
@using Silvester.Pathfinder.Reference.Web.Services.Currencies;

@inherits BaseDetailPage
@page "/precious-material-armors/{resourceId:guid}"
@implements IDisposable

<div>
    <PageLayout>
        <MudPaper Style="margin: 20px">
            <PreciousMaterialArmorDetailsCard Entity="@Armor" />
        </MudPaper>

        @if (Armor != null)
        {
            <MudPaper Style="margin: 20px;">
                <CardToolbar>
                    <MudText Typo="Typo.h6">Variants</MudText>
                </CardToolbar>
                <MudDivider />
                <MudTable Style="overflow-x: scroll;" Breakpoint="Breakpoint.None" Items="@Armor.Variants.OrderBy(e => e.Grade.Order)" Dense="true" Hover="true" Striped="true" SortLabel="Sort By">
                    <HeaderContent>
                        <MudTh><MudTableSortLabel SortBy="new Func<IGetPreciousMaterialArmorById_PreciousMaterialArmors_Items_Variants, object?>(e => e.Grade.Name)">Grade</MudTableSortLabel></MudTh>
                        <MudTh><MudTableSortLabel SortBy="new Func<IGetPreciousMaterialArmorById_PreciousMaterialArmors_Items_Variants, object>(e => e.Price)">Price</MudTableSortLabel></MudTh>
                        <MudTh><MudTableSortLabel SortBy="new Func<IGetPreciousMaterialArmorById_PreciousMaterialArmors_Items_Variants, object>(e => e.AdditionalPricePerBulk)">Additional Price per Bulk</MudTableSortLabel></MudTh>
                        <MudTh><MudTableSortLabel SortBy="new Func<IGetPreciousMaterialArmorById_PreciousMaterialArmors_Items_Variants, object>(e => e.ItemLevel)">Item Level</MudTableSortLabel></MudTh>
                        <MudTh><MudTableSortLabel SortBy="new Func<IGetPreciousMaterialArmorById_PreciousMaterialArmors_Items_Variants, object>(e => e.CraftRequirements)">Crafting Requirements</MudTableSortLabel></MudTh>
                    </HeaderContent>
                    <RowTemplate>
                        <MudTd DataLabel="Addendum">@context.Grade.Name</MudTd>
                        <MudTd DataLabel="Price">@(CurrencyService.Denormalize(context.Price).ToString())</MudTd>
                        <MudTd DataLabel="Price">@(CurrencyService.Denormalize(context.AdditionalPricePerBulk).ToString())</MudTd>
                        <MudTd DataLabel="Item Level">@context.ItemLevel.ToString()</MudTd>
                        <MudTd DataLabel="Crafting Requirements">@context.CraftRequirements</MudTd>
                    </RowTemplate>
                </MudTable>
            </MudPaper>
        }
    </PageLayout>
</div>

@code {
    protected override string CollectionName => "precious-material-armors";
    protected override string? ResourceName => Armor?.Name;

    [Inject]
    public ICurrencyService CurrencyService { get; set; } = default!;

    private IPreciousMaterialArmorById? Armor { get; set; }

    private IDisposable? StoreSession { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        StoreSession = PathfinderReferenceApi.GetPreciousMaterialArmorById
            .Watch(ResourceId)
            .Select(e => e.Data?.PreciousMaterialArmors?.Items?.FirstOrDefault())
            .Subscribe(shield =>
            {
                Armor = shield;
                OnResourceLoaded();
            });
    }

    public void Dispose()
    {
        StoreSession?.Dispose();
    }
}