@using Silvester.Pathfinder.Reference.Web.Shared.Layout;
@using Silvester.Pathfinder.Reference.Web.Components.Tables.Instances.ArmorPropertyRunes;
@using Silvester.Pathfinder.Reference.Web.Components.Tables.Instances.ArmorPropertyRunes.Providers;
@using Silvester.Pathfinder.Reference.Web.Components.Tables.Instances.WeaponPropertyRunes;
@using Silvester.Pathfinder.Reference.Web.Components.Tables.Instances.WeaponPropertyRunes.Providers;
@using Silvester.Pathfinder.Reference.Web.Components.Tables.Instances.FundamentalArmorRunes;
@using Silvester.Pathfinder.Reference.Web.Components.Tables.Instances.FundamentalArmorRunes.Providers;
@using Silvester.Pathfinder.Reference.Web.Components.Tables.Instances.FundamentalWeaponRunes;
@using Silvester.Pathfinder.Reference.Web.Components.Tables.Instances.FundamentalWeaponRunes.Providers;
@using Silvester.Pathfinder.Reference.Web.Components.Cards;
@using Silvester.Pathfinder.Reference.Web.Shared.Cards;

@page "/runes"
@inherits BaseOverviewPage

<div>
    <PageLayout>

        <MudPaper Style="margin: 20px;">
            <CardToolbar>
                <MudText Typo="@Typo.h6">Armor Runes</MudText>
            </CardToolbar>
            <MudTabs Elevation="2" Rounded="true" ApplyEffectsToContainer="true" Border="true">
                <MudTabPanel Text="Property Runes">
                    <ArmorPropertyRunesTable PageProvider="@(new ArmorPropertyRunePageProvider(PathfinderReferenceApi))" />
                </MudTabPanel>
                <MudTabPanel Text="Fundamental Runes">
                    <FundamentalArmorRunesTable PageProvider="@(new FundamentalArmorRunePageProvider(PathfinderReferenceApi))" />
                </MudTabPanel>
            </MudTabs>
        </MudPaper>

        <MudPaper Style="margin: 20px;">
            <CardToolbar>
                <MudText Typo="@Typo.h6">Weapon Runes</MudText>
            </CardToolbar>
            <MudTabs Elevation="2" Rounded="true" ApplyEffectsToContainer="true" Border="true">
                <MudTabPanel Text="Property Runes">
                    <WeaponPropertyRunesTable PageProvider="@(new WeaponPropertyRunePageProvider(PathfinderReferenceApi))" />
                </MudTabPanel>
                <MudTabPanel Text="Fundamental Runes">
                    <FundamentalWeaponRunesTable PageProvider="@(new FundamentalWeaponRunePageProvider(PathfinderReferenceApi))" />
                </MudTabPanel>
            </MudTabs>
        </MudPaper>

    </PageLayout>

</div>

@code
{
    protected override string CollectionName => "runes";
}