@using Silvester.Pathfinder.Official.Web.Pages.Details

@page "/feats"
@inherits BaseDetailsPage

<h1>Feats!</h1>

<MudTable Style="margin: 20px;" ServerData="@(new Func<TableState, Task<TableData<Feat>>>(GetFeatPage))" Dense="true" Hover="true" @ref="Table">
    <ToolBarContent>
        <MudText Typo="Typo.h6">Periodic Elements</MudText>
        <MudToolBarSpacer />
        <MudTextField T="string" ValueChanged="@(text => OnSearch(text))" Placeholder="Search" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0" /> 
    </ToolBarContent>
    <HeaderContent>
        <MudTh><MudTableSortLabel SortLabel="@nameof(Feat.Name)" T="Feat">Name</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortLabel="@nameof(Feat.Relearnable)" T="Feat">Relearnable</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortLabel="@nameof(Feat.Level)" T="Feat">Level</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortLabel="@nameof(Feat.Description)" T="Feat">Description</MudTableSortLabel></MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="@nameof(Feat.Name)">@context.Name</MudTd>
        <MudTd DataLabel="@nameof(Feat.Relearnable)">@context.Relearnable</MudTd>
        <MudTd DataLabel="@nameof(Feat.Level)">@context.Level</MudTd>
        <MudTd Style="position: relative; width: 100vw;" DataLabel="@nameof(Feat.Description)"><div style="text-overflow: ellipsis; white-space: nowrap; position: absolute; overflow: hidden; width: 100%; transform: translateY(-50%); padding-right: 36px;">@context.Description</div></MudTd>
    </RowTemplate>
    <PagerContent>
        <MudTablePager />
    </PagerContent>
</MudTable>
