@using Silvester.Pathfinder.Official.Web.Shared.Preferences;
@using Silvester.Pathfinder.Official.Web.Shared.Cards;
@using Silvester.Pathfinder.Official.Web.Shared.Tables;
@using Silvester.Pathfinder.Official.Web.Services;

@if(Trait != null)
{
    <ComponentDetailsCard TEntity="ITraitById" Entity="@Trait">
        <Title>
            <MudText Typo="Typo.h6">Trait</MudText>
        </Title>
        <Actions>
            <MudTooltip Text="Share">
                <MudIconButton Size="Size.Medium" OnClick="@(async () => await OnShareClickAsync())" Icon="@Icons.Material.Filled.Share"></MudIconButton>
            </MudTooltip>
        </Actions>
        <LeftContent>
            <PreferenceCategory Title="Details">
                <PreferenceItemText Title="Name" Text="@context.Name" />
                <PreferenceItemText Title="Id" Text="@context.Id.ToString()" />
            </PreferenceCategory>
        </LeftContent>
        <RightContent>
            <PreferenceCategory Title="Description">
                <PreferenceItemText Text="@context.Description" />
            </PreferenceCategory>
        </RightContent>
    </ComponentDetailsCard>
}

@code {
    [Parameter]
    public ITraitById? Trait { get; set; } = default!;

    [Inject]
    public IClipboardService ClipboardService { get; set; } = default!;

    [Inject]
    public ISnackbar Snackbar { get; set; } = default!;

    [Inject]
    public NavigationManager NavigationManager { get; set; } = default!;

    public async Task OnShareClickAsync()
    {
        await ClipboardService.WriteTextAsync(NavigationManager.Uri);
        Snackbar.Add(@"Copied URL to clipboard!", Severity.Success);
    }
}