@using Silvester.Pathfinder.Official.Web.Shared.Preferences;
@using Silvester.Pathfinder.Official.Web.Services;

@typeparam TEntity

<div>
    @{
        if (Entity != null)
        {
            <CardToolbar>
                @Title(Entity)
                <MudToolBarSpacer />
                @if(Actions != null)
                {
                    @Actions(Entity)
                }
                @if (Shareable)
                {
                    <MudTooltip Text="Share">
                        <MudIconButton Size="Size.Medium" OnClick="@(async () => await OnShareClickAsync())" Icon="@Icons.Material.Filled.Share"></MudIconButton>
                    </MudTooltip>
                }
            </CardToolbar>

            <MudDivider />

            <MudGrid xs="12" Style="margin: 0px;">
                <MudItem xs="12" md="6" lg="4" Style="padding: 0px">
                    @LeftContent(Entity)
                </MudItem>
                <MudItem xs="12" md="6" lg="8" Style="border-left: 1px solid var(--mud-palette-divider); padding: 0px 12px 0px 0px; ">
                    @RightContent(Entity)
                </MudItem>
            </MudGrid>
        }
    }
</div>

@code
{
    [Parameter]
    public bool Shareable { get; set; } = true;

    [Inject]
    public IClipboardService ClipboardService { get; set; } = default!;

    [Inject]
    public ISnackbar Snackbar { get; set; } = default!;

    [Inject]
    public NavigationManager NavigationManager { get; set; } = default!;

    [Parameter]
    public TEntity? Entity { get; set; }

    [Parameter]
    public RenderFragment<TEntity>? Actions { get; set; } = default!;

    [Parameter]
    public RenderFragment<TEntity> LeftContent { get; set; } = default!;

    [Parameter]
    public RenderFragment<TEntity> RightContent { get; set; } = default!;

    [Parameter]
    public RenderFragment<TEntity> Title { get; set; } = default!;

    public async Task OnShareClickAsync()
    {
        await ClipboardService.WriteTextAsync(NavigationManager.Uri);
        Snackbar.Add(@"Copied URL to clipboard!", Severity.Success);
    }
}