<div style="display:flex; flex-direction:row; flex-wrap: wrap;">
    @foreach (Item item in Items)
    {
        <IconFooterItem Icon="@item.Icon" Text="@item.Text" Tooltip="@item.Tooltip" />
    }
    @if(string.IsNullOrWhiteSpace(InspectionUrl) == false)
    {
        <MudToolBarSpacer />
        <MudTooltip Text="Inspect">
            <MudIconButton Icon="@MudBlazor.Icons.Material.Outlined.ArrowForward" Size="@Size.Small" OnClick="@(() => NavigationManager.NavigateTo(InspectionUrl))" />
        </MudTooltip>
    }
</div>

@code {
    [Parameter]
    public IEnumerable<Item> Items { get; set; } = default!;

    [Parameter]
    public string? InspectionUrl { get; set; }

    [Inject]
    public NavigationManager NavigationManager {get;set;} = default!;

    public class Item
    {
        public MarkupString Icon { get; set; }
        public string Text { get; set; }
        public string Tooltip { get; set; }

        public Item(MarkupString icon, string text, string tooltip)
        {
            Tooltip = tooltip;
            Icon = icon;
            Text = text;
        }
    }
}