@using Silvester.Pathfinder.Reference.Web.Shared.Drawers;
@using Silvester.Pathfinder.Reference.Web.Shared.Searching;
@using Silvester.Pathfinder.Reference.Web.Shared.Footers;
@using Silvester.Pathfinder.Reference.Web.Shared.Cookies
    ; 
@inherits LayoutComponentBase

<MudLayout>
    <MudAppBar Elevation="0">
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@ToggleDrawer" />
        <MudText Typo="Typo.h6" Style="white-space: nowrap;">@AppBarState!.Value.Title</MudText>
        <MudAppBarSpacer />
        <div class="d-none d-md-flex align-center">
            <MudTooltip Text="Patreon">
                <MudIconButton Icon="@Silvester.Pathfinder.Reference.Icons.Generated.Patreon" Color="Color.Inherit" Link="https://www.patreon.com/pf2e_io" Target="_blank" />
            </MudTooltip>
            <MudTooltip Text="Discord">
                <MudIconButton Icon="@Silvester.Pathfinder.Reference.Icons.Generated.Discord" Color="Color.Inherit" Link="https://discord.gg/hvTph7EX" Target="_blank" />
            </MudTooltip>
            <MudTooltip Text="Reddit Community">
                <MudIconButton Icon="@Icons.Custom.Brands.Reddit" Color="Color.Inherit" Link="https://www.reddit.com/r/pathfinder2e/" Target="_blank" />
            </MudTooltip>
            <MudTooltip Text="Twitter">
                <MudIconButton Icon="@Icons.Custom.Brands.Twitter" Color="Color.Inherit" Link="https://twitter.com/pf2e_io/" Target="_blank" />
            </MudTooltip>
            <MudTooltip Text="GitHub Repository">
                <MudIconButton Icon="@Icons.Custom.Brands.GitHub" Color="Color.Inherit" Link="https://github.com/silvester-io-pathfinder" Target="_blank" />
            </MudTooltip>
        </div>
    </MudAppBar>
    <MudDrawer @bind-Open="@DrawerOpen" Elevation="4">
        <MudList Clickable="true">
            <DrawerCategory Title="Abilities" State="@DrawerState">
                <MudNavLink Href="actions" Match="NavLinkMatch.Prefix">Actions</MudNavLink>
                <MudNavLink Href="spells" Match="NavLinkMatch.Prefix">Spells</MudNavLink>
                <MudNavLink Href="feats" Match="NavLinkMatch.Prefix">Feats</MudNavLink>
                <MudNavLink Href="traits" Match="NavLinkMatch.Prefix">Traits</MudNavLink>
            </DrawerCategory>
            <MudDivider />
            <DrawerCategory Title="Alchemy" State="@DrawerState">
                <MudNavLink Href="alchemical-bombs" Match="NavLinkMatch.Prefix">Bombs</MudNavLink>
                <MudNavLink Href="alchemical-elixirs" Match="NavLinkMatch.Prefix">Elixirs</MudNavLink>
                <MudNavLink Href="alchemical-poisons" Match="NavLinkMatch.Prefix">Poisons</MudNavLink>
                <MudNavLink Href="alchemical-tools" Match="NavLinkMatch.Prefix">Tools</MudNavLink>
            </DrawerCategory>
            <MudDivider />
            <DrawerCategory Title="Character" State="@DrawerState">
                <MudNavLink Href="classes" Match="NavLinkMatch.Prefix">Classes</MudNavLink>
                <MudNavLink Href="stats" Match="NavLinkMatch.Prefix">Stats</MudNavLink>
                <MudNavLink Href="skills" Match="NavLinkMatch.Prefix">Skills</MudNavLink>
                <MudNavLink Href="ancestries" Match="NavLinkMatch.Prefix">Ancestries</MudNavLink>
                <MudNavLink Href="alignments" Match="NavLinkMatch.Prefix">Alignments</MudNavLink>
            </DrawerCategory>
            <MudDivider />
            <DrawerCategory Title="Encounters" State="@DrawerState">
                <MudNavLink Href="hazards" Match="NavLinkMatch.Prefix">Hazards</MudNavLink>
            </DrawerCategory>
            <MudDivider />
            <DrawerCategory Title="Effects" State="@DrawerState">
                <MudNavLink Href="conditions" Match="NavLinkMatch.Prefix">Conditions</MudNavLink>
                <MudNavLink Href="diseases" Match="NavLinkMatch.Prefix">Diseases</MudNavLink>
                <MudNavLink Href="curses" Match="NavLinkMatch.Prefix">Curses</MudNavLink>
                <MudNavLink Href="item-curses" Match="NavLinkMatch.Prefix">Item Curses</MudNavLink>
            </DrawerCategory>
            <MudDivider />
            <DrawerCategory Title="Equipment" State="@DrawerState">
                <MudNavLink Href="weapons" Match="NavLinkMatch.Prefix">Weapons</MudNavLink>
                <MudNavLink Href="armors" Match="NavLinkMatch.Prefix">Armor</MudNavLink>
                <MudNavLink Href="shields" Match="NavLinkMatch.Prefix">Shields</MudNavLink>
                <MudNavLink Href="staves" Match="NavLinkMatch.Prefix">Staves</MudNavLink>
            </DrawerCategory>
            <MudDivider />
            <DrawerCategory Title="Items" State="@DrawerState">
                <MudNavLink Href="adventuring-gears" Match="NavLinkMatch.Prefix">Adventuring Gear</MudNavLink>
                <MudNavLink Href="artifacts" Match="NavLinkMatch.Prefix">Artifacts</MudNavLink>
                <MudNavLink Href="runes" Match="NavLinkMatch.Prefix">Runes</MudNavLink>
                <MudNavLink Href="precious-materials" Match="NavLinkMatch.Prefix">Precious Material</MudNavLink>
            </DrawerCategory>
            <MudDivider />
            <DrawerCategory Title="Magic" State="@DrawerState">
                <MudNavLink Href="magic-schools" Match="NavLinkMatch.Prefix">Schools</MudNavLink>
                <MudNavLink Href="magic-traditions" Match="NavLinkMatch.Prefix">Traditions</MudNavLink>
                <MudNavLink Href="magic-components" Match="NavLinkMatch.Prefix">Components</MudNavLink>
                <MudNavLink Href="magic-essences" Match="NavLinkMatch.Prefix">Essences</MudNavLink>
            </DrawerCategory>
            <MudDivider />
            <DrawerCategory Title="Religion" State="@DrawerState">
                <MudNavLink Href="deities" Match="NavLinkMatch.Prefix">Deities</MudNavLink>
                <MudNavLink Href="divine-fonts" Match="NavLinkMatch.Prefix">Divine Fonts</MudNavLink>
            </DrawerCategory>
            <DrawerCategory Title="World" State="@DrawerState">
                <MudNavLink Href="domains" Match="NavLinkMatch.Prefix">Domains</MudNavLink>
                <MudNavLink Href="languages" Match="NavLinkMatch.Prefix">Languages</MudNavLink>
                <MudNavLink Href="planes" Match="NavLinkMatch.Prefix">Planes</MudNavLink>
                <MudNavLink Href="mysteries" Match="NavLinkMatch.Prefix">Mysteries</MudNavLink>
            </DrawerCategory>
        </MudList>
    </MudDrawer>
    <MudMainContent Style="height: 100%; display: flex; flex-direction: column;">
        <div style="flex: 1 0 auto;">
            @SearchBar()
            <CookiePermissionBanner />
            @Body
            <MudScrollToTop>
                <MudFab Color="Color.Tertiary" Icon="@Icons.Filled.ArrowUpward" />
            </MudScrollToTop>
        </div>
        <div style="flex-shrink: 0;">
            <PageFooter />
        </div>
    </MudMainContent>
</MudLayout>

@code {
   
    public RenderFragment SearchBar()
    {
        return @<div>
                    <MudHidden Breakpoint="Breakpoint.Xs">
                        <MudPaper Square="true" Style="width: 100%; margin-top:-5px;" Elevation="4">
                            <GlobalSearchBar />
                        </MudPaper>
                    </MudHidden>
                    <MudHidden Breakpoint="Breakpoint.SmAndUp">
                        <MudPaper Square="true" Style="width: 100%; margin-top:-13px;" Elevation="4">
                            <GlobalSearchBar />
                        </MudPaper>
                    </MudHidden>
                </div>;
    }
}