@using Silvester.Pathfinder.Official.Web.Shared.Preferences;
@using Silvester.Pathfinder.Official.Web.Shared.Cards;
@using Silvester.Pathfinder.Official.Web.Shared.Tables;
@using Silvester.Pathfinder.Official.Web.Services;
@using Silvester.Pathfinder.Official.Web.Shared.Chips;

@if (Race != null)
{
    <ComponentDetailsCard TEntity="IGetRaceById_Races_Items" Entity="@Race">
        <Title>
            <MudText Typo="Typo.h6">Race</MudText>
        </Title>
        <Actions>
        </Actions>
        <LeftContent>
            <PreferenceCategory Title="Details">
                <PreferenceItemText Title="Name" Text="@context.Name" />
                <MudDivider />
                <PreferenceItemText Title="Base Speed" Text="@context.BaseSpeed.ToString()" />
                <MudDivider />
                <PreferenceItemText Title="Base Health" Text="@context.BaseHealth.ToString()" />
            </PreferenceCategory>

            <PreferenceCategory Title="Perks">
                <PreferenceItemChips Title="Traits">
                    <Chips>
                        @foreach (var trait in @context.RaceTraits)
                        {
                            <TraitChip OnClick="@(() => OnRaceTraitClick(trait))" Text="@trait.Name" />
                        }
                    </Chips>
                </PreferenceItemChips>
                <MudDivider />
                <PreferenceItemChips Title="Stats">
                    <Chips>
                        <TraitChip OnClick="@(() => OnSizeClick())" Text="@Race.RaceSize.Name" />
                        <TraitChip OnClick="@(() => OnRarityClick())" Text="@Race.RaceRarity.Name" />
                    </Chips>
                </PreferenceItemChips>
                <MudDivider />
                <PreferenceItemChips Title="Languages">
                    <Chips>
                        @foreach(var language in context.Languages)
                        {
                            <MudTooltip Text="@language.Type.Name">
                                <TraitChip OnClick="@(() => OnLanguageClick(language))" Text="@language.Name" />
                            </MudTooltip>
                        }
                    </Chips>
                </PreferenceItemChips>
            </PreferenceCategory>
        </LeftContent>
        <RightContent>
            <PreferenceCategory Title="Description">
                <PreferenceItemText Text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi cursus, dui a feugiat eleifend, mauris libero elementum justo, eu varius enim nunc id neque. Mauris fringilla urna non nulla laoreet, vitae pellentesque odio mollis. Aenean sed bibendum elit. Aenean in odio lorem. Sed consequat, tellus ac sodales semper, lorem sem congue neque, sit amet porttitor velit magna ultrices nunc. Integer vulputate massa pretium facilisis feugiat. Quisque faucibus diam efficitur auctor tristique. Vivamus sed pulvinar sapien. Vivamus libero orci, tincidunt id lacinia at, elementum vel tortor. Praesent aliquet rhoncus ipsum, eu tristique est. Ut sit amet velit diam. Sed sed ullamcorper dolor, ut gravida mauris." />
            </PreferenceCategory>
        </RightContent>
    </ComponentDetailsCard>
}

@code {
    [Parameter]
    public IGetRaceById_Races_Items Race { get; set; } = default!;

    [Inject]
    public NavigationManager NavigationManager { get; set; } = default!;

    public void OnSizeClick()
    {
        NavigationManager.NavigateTo($"/race-sizes/{Race!.RaceSize.Id}");
    }

    public void OnRarityClick()
    {
        NavigationManager.NavigateTo($"/race-rarities/{Race!.RaceRarity.Id}");
    }

    public void OnRaceTraitClick(IGetRaceById_Races_Items_RaceTraits trait)
    {
        NavigationManager.NavigateTo($"/race-traits/{trait.Id}");
    }

    public void OnLanguageClick(IGetRaceById_Races_Items_Languages language)
    {
        NavigationManager.NavigateTo($"/languages/{language.Id}");
    }
}