@using Silvester.Pathfinder.Official.Web.Shared.Preferences;
@using Silvester.Pathfinder.Official.Web.Shared.Cards;
@using Silvester.Pathfinder.Official.Web.Shared.Tables;
@using Silvester.Pathfinder.Official.Web.Pages.Traits.Details.Components;

<div>
    @if (Race == null)
    {

    }
    else
    {
        <RelationshipTable TEntity="IGetRaceById_Races_Items_Languages" DefaultSortLabel="@nameof(IGetRaceById_Races_Items_Languages.Name)" Filter="@LanguageFilter" InspectionUrl="@((e) => $"languages/{e.Id}")" Items="@(() => Race.Languages)">
            <Columns>
                <MudTh><MudTableSortLabel SortLabel="@nameof(IGetRaceById_Races_Items_Languages.Name)" T="IGetRaceById_Races_Items_Languages" InitialDirection="SortDirection.Ascending">Name</MudTableSortLabel></MudTh>
                <MudTh><MudTableSortLabel SortLabel="@(nameof(IGetRaceById_Races_Items_Languages.Type) + ".Name")" T="IGetRaceById_Races_Items_Languages">Type</MudTableSortLabel></MudTh>
            </Columns>
            <Rows>
                <MudTd Style="font-weight: 500;">@context.Name</MudTd>
                <MudTdEllipsized Text="@context.Type.Name" />
            </Rows>
        </RelationshipTable>
    }
</div>

@code
{
    [Parameter]
    public IGetRaceById_Races_Items Race { get; set; } = default!;

    public bool LanguageFilter(IGetRaceById_Races_Items_Languages language, string searchString)
    {
        return language.Name.ToLower().Contains(searchString)
            || language.Type.Name.ToLower().Contains(searchString);
    }
}